/* main {
  height: 200vh;
} */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 415px;
  color: #02182b;
}

/* .her-el {
  margin-bottom: auto;
} */

.hero > h1 {
  font-size: 2.6rem;
  margin: 0 auto;
}

.hero > h3 {
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 80px;
}
.hero > .sub-title {
  font-size: 1.4rem;
  color: #77bcf9;
  margin: 0 auto;
}

.about {
  margin-top: 50px;
  margin-bottom: 50px;
  border: #f3f5f7 1px solid;
  border-radius: 15px;
  background-color: #f3f5f7;
}
