:root {
  --primary-color-dark: #123440;
  --primary-color: #19647e;
  --primary-color-ligth: #44b4da;
  --secundary-color-dark: #de6b48;
  --secundary-color: #ecab98;
  --secundary-color-ligth: #f9e3dd;
  /* --header-size: 4rem  ; */
  /* --font: 1.8rem; */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
