.nav_list {
  margin-left: auto;
}

.navbar {
  /* position: sticky;
  top: 0; */
  background-color: #19647e;
}

.link {
  color: #f9e3dd;
  padding: 4px;
}

.link:hover {
  color: #f9e3dd;
  background-color: #de6b48;
}

.logo {
  margin: 0px;
  display: flex;
  justify-content: center;
}
.logo > img {
  width: 40px;
  height: 40px;
}

.nav_brand {
  max-height: 72px;
  margin: 0;
}

.navbar_container {
  display: flex;
  justify-content: space-around;
}
