.nav_list {
  margin-left: auto;
}

.navbar {
  position: sticky;
  top: 0;
  /* background-color: #ecf5fe; */
  background-color: #19647e;
}

.link {
  /* color: #de6b48; */
  color: #f9e3dd;
}

.link:hover {
  color: #f9e3dd;
  background-color: #de6b48;
}

.logo > img {
  width: 55px;
  height: 55px;
}

.nav_brand {
  max-height: 72px;
}
